* {
    padding: 0;
    margin: 0;
}




body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 100;
    color: white;
}


.card:hover {
    color: aqua
}

#searchbar {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
}

#searchbar:focus {
    border: 2px solid #555;
}

img {
    height: auto;
    max-height: 990px;
    width: 145px;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    border-radius: 25px;
    max-height: 145px;
    max-width: 145px;

}

.icon {
    border-radius: 7px;

}


.card {
    transition: 0.1s;
    width: 158px;
    background-color: transparent;
    margin: 15px;
    float: left;
}



body {
    background-color: #5e7594;
}